alabaster==0.7.12
astor==0.8.1
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
coverage==6.3.1
coveralls==3.3.1
distlib==0.3.4
docopt==0.6.2
docutils==0.17.1
filelock==3.5.0
flake8==4.0.1
flynt==0.76
identify==2.4.10
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.1
iniconfig==1.1.1
invoke==1.6.0
Jinja2==3.0.3
jsonpickle==2.1.0
keyring==23.5.0
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.931
mypy-extensions==0.4.3
networkx==2.6.3
nodeenv==1.6.0
numpy==1.22.2
opencolorio==2.1.1
packaging==21.3
pathspec==0.9.0
pip==21.3.1
pkginfo==1.8.2
platformdirs==2.5.0
pluggy==1.0.0
pre-commit==2.17.0
py==1.11.0
pycodestyle==2.8.0
pydata-sphinx-theme==0.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.11.2
pygraphviz==1.9
pyparsing==3.0.7
pytest==7.0.1
pytest-cov==3.0.0
pytz==2021.3
pyupgrade==2.31.0
PyYAML==6.0
readme-renderer==32.0
requests==2.27.1
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.2
rfc3986==2.0.0
scipy==1.8.0
setuptools==59.6.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.1
tqdm==4.62.3
twine==3.8.0
typing_extensions==4.1.1
urllib3==1.26.8
virtualenv==20.13.1
webencodings==0.5.1
wheel==0.37.0
zipp==3.7.0
