alabaster==0.7.12
appdirs==1.4.4
attrs==21.2.0
Babel==2.9.1
bleach==3.3.0
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
colorama==0.4.4
colour-science==0.3.16
coverage==5.5
coveralls==3.1.0
decorator==4.4.2
distlib==0.3.2
docopt==0.6.2
docutils==0.16
filelock==3.0.12
flake8==3.9.2
identify==2.2.10
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.6.1
iniconfig==1.1.1
invoke==1.5.0
Jinja2==3.0.1
jsonpickle==2.0.0
keyring==23.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
networkx==2.5.1
nodeenv==1.6.0
nose==1.3.7
numpy==1.21.0
opencolorio==2.1.0
packaging==21.0
Pillow==9.0.1
pip==21.1.1
pkginfo==1.7.0
pluggy==0.13.1
pre-commit==2.13.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pygraphviz==1.7
pyparsing==2.4.7
pytest==6.2.4
pytz==2021.1
PyYAML==5.4.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.2
rfc3986==1.5.0
scipy==1.6.1
setuptools==56.2.0
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.0.2
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tqdm==4.61.1
twine==3.4.1
urllib3==1.26.6
virtualenv==20.4.7
webencodings==0.5.1
wheel==0.36.2
yapf==0.23.0
zipp==3.5.0
