alabaster==0.7.13
astor==0.8.1
attrs==22.2.0
Babel==2.11.0
beautifulsoup4==4.11.2
black==23.1.0
bleach==6.0.0
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==3.0.1
click==8.1.3
colour-science==0.4.2
coverage==6.5.0
coveralls==3.3.1
distlib==0.3.6
docopt==0.6.2
docutils==0.17.1
filelock==3.9.0
flake8==6.0.0
flynt==0.77
identify==2.5.18
idna==3.4
imageio==2.25.1
imagesize==1.4.1
importlib-metadata==6.0.0
iniconfig==2.0.0
invoke==2.0.0
jaraco.classes==3.2.3
Jinja2==3.1.2
jsonpickle==2.2.0
keyring==23.13.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
mccabe==0.7.0
mdurl==0.1.2
more-itertools==9.0.0
mypy==1.0.0
mypy-extensions==1.0.0
networkx==3.0
nodeenv==1.7.0
numpy==1.24.2
opencolorio==2.2.1
packaging==23.0
pathspec==0.11.0
Pillow==9.4.0
pip==22.3.1
pkginfo==1.9.6
platformdirs==3.0.0
pluggy==1.0.0
pre-commit==3.0.4
pycodestyle==2.10.0
pydata-sphinx-theme==0.12.0
pydocstyle==6.3.0
pyflakes==3.0.1
Pygments==2.15.0
pytest==7.2.1
pytest-cov==4.0.0
pytz==2022.7.1
pyupgrade==3.3.1
PyYAML==6.0
readme-renderer==37.3
requests==2.28.2
requests-toolbelt==0.10.1
restructuredtext-lint==1.4.0
rfc3986==2.0.0
rich==13.3.1
scipy==1.10.0
setuptools==67.2.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tokenize-rt==5.0.0
tomli==2.0.1
twine==4.0.2
typing_extensions==4.4.0
urllib3==1.26.14
virtualenv==20.19.0
webencodings==0.5.1
wheel==0.38.4
zipp==3.13.0
